**1. Set the variable test1 to the string 'This is a test of the emergency text system', and save test1 to a
file named test.txt.**

In [2]:
test1 = 'This is a test of the emergency text system'
fileObj = open('test.txt','w')
fileObj.write(test1)

43

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?**

In [7]:
fileObj = open('test.txt','r')
test2 = fileObj.read()
test2

'This is a test of the emergency text system'

**3. Create a CSV file called books.csv by using these lines:**

    title,author,year

    The Weirdstone of Brisingamen,Alan Garner,1960

    Perdido Street Station,China Miéville,2000

    Thud!,Terry Pratchett,2005

    The Spellman Files,Lisa Lutz,2007

    Small Gods,Terry Pratchett,1992

In [10]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

**4. Use the sqlite3 module tocreate a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [40]:
import sqlite3
conn = sqlite3.connect("books.db")

In [41]:
cursor_obj = conn.cursor()
 
# Drop the GEEK table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS books")
 
# Creating table
table = """ CREATE TABLE books (
            title VARCHAR(255) NOT NULL,
            author CHAR(255) NOT NULL,
            year INT
        ); """
 
cursor_obj.execute(table)
 
print("Table is Ready")
 
# Close the connection
conn.close()

Table is Ready

**5. Read books.csv and insert its data into the book table.**

In [42]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')

In [44]:
conn = sqlite3.connect('books.db')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [46]:
conn = sqlite3.connect('books.db')

In [47]:
cursor = conn.cursor()
  
print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM books''')
for row in data:
    print(row)

conn.commit()

Data Inserted in the table:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**6. Select and print the title column from the book table in alphabetical order.**

In [50]:
data=cursor.execute("SELECT title FROM books order by title")
for row in data:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**7. From the book table, select and print all columns in the order of publication.**

In [51]:
data=cursor.execute("SELECT * FROM books order by year")
for row in data:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.**

In [52]:
import sqlalchemy

In [58]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.**

In [67]:
import redis
conn = redis.Redis('localhost')
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

**10. Increment the count field of test and print it.**

In [69]:
conn.hincrby('test','count', 3)